@font-face {
    font-family: "Calibri";
    src: url('font/calibri.ttf');
}
@font-face {
    font-family: "Calibrib";
    font-style: italic;
    src: url('font/calibrib.ttf');
}
@font-face {
    font-family: "Calibrii";
    font-weight: bold;
    src: url('font/calibrii.ttf');
}
@font-face {
    font-family: "Calibril";
    font-weight: bold;
    src: url('font/calibrii.ttf');
}
@font-face {
    font-family: "Calibrili";
    font-weight: bold;
    src: url('font/calibrii.ttf');
}
@font-face {
    font-family: "Calibriz";
    font-weight: bold;
    src: url('font/calibriz.ttf');
}
@font-face {
    font-family: "ERASBD";
    font-weight: bold;
    src: url('font/ERASBD.TTF');
}
@font-face {
    font-family: "ERASDEMI";
    font-weight: bold;
    src: url('font/ERASDEMI.TTF');
}
@font-face {
    font-family: "EARSLGHT";
    font-weight: bold;
    src: url('font/ERASLGHT.TTF');
}


body{
    background-color: gray;
}

#bouton {
    background-color: crimson;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

#page{
    margin: auto;
    max-width: 960px;
}
h1{
    font-family: "EARSLGHT";
    font-size: 40px;
    color: #474747;
    text-align: center;
}
h6{
    font-family: Calibri;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}

#titre {
    background-color: #EAE5DF;
    height: 175px;
    width: 70%;
    float: left;
    color: grey;
    text-align: center;
    font-size: larger;
}

#authentification {
    margin: auto;
    background-color: #8A5D1D;
    height: 175px;
    width: 30%;
    float: left;
    color: white;
    text-align: center;
}


#contenu {
    background-color: #EAE5DF;
    min-height: 500px;
    width: 70%;
    float: left;
}

#contenu figure{
    float: left;
    margin: 10px;
    padding: 10px;
    border: solid;
    border-color: #8A5D1D;
    border-width: 1px;
    text-align: center;
    background-color: white;
}

#contenu figure img{
    height: 120px;
}

#divArticles{
    width: 100%;
    float: left;
}

#article {
    float: left;
    margin: 10px;
    padding: 5px;
    border: solid;
    border-color: #8A5D1D;
    border-width: 1px;
    background-color: white;
    width: 47%;
}

#article img {
    margin-right: 10px;
    max-height: 70px;
    float: left;
}

#libelle{
    font-family: Calibri;
}

#detail{
    font-size: smaller;
}

#prix{
    font-weight: bold;
    color: #861825;
}

#contenuArticle {
    float: right;
    max-height: 100px;
}

#panier {
    background-color: #861825;
    color: white;
    height: 500px;
    width: 30%;
    float: left;
    text-align: center;
}

#panier img{
    float: "center";
}

#piedPage {
    background-color: #8A5D1D;
    color: #FFFFCC;
    text-align: center;
    height: 50px;
    width: 100%;
    clear: both;
    bottom: 0;
}

.myButton {

    font-family:'Eras';
    margin:5px 10px 5px 10px;
    -moz-box-shadow: 0px 10px 9px -7px #404242;
    -webkit-box-shadow: 0px 10px 9px -7px #404242;
    box-shadow: 0px 10px 9px -7px #404242;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5e7e), color-stop(1, #780000));
    background:-moz-linear-gradient(top, #ff5e7e 5%, #780000 100%);
    background:-webkit-linear-gradient(top, #ff5e7e 5%, #780000 100%);
    background:-o-linear-gradient(top, #ff5e7e 5%, #780000 100%);
    background:-ms-linear-gradient(top, #ff5e7e 5%, #780000 100%);
    background:linear-gradient(to bottom, #ff5e7e 5%, #780000 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5e7e', endColorstr='#780000',GradientType=0);
    background-color:#ff5e7e;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border-radius:40px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Trebuchet MS;
    font-size:14px;
    padding:3px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #4d484d;
}

.myButton:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #780000), color-stop(1, #ff5e7e));
    background:-moz-linear-gradient(top, #780000 5%, #ff5e7e 100%);
    background:-webkit-linear-gradient(top, #780000 5%, #ff5e7e 100%);
    background:-o-linear-gradient(top, #780000 5%, #ff5e7e 100%);
    background:-ms-linear-gradient(top, #780000 5%, #ff5e7e 100%);
    background:linear-gradient(to bottom, #780000 5%, #ff5e7e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#780000', endColorstr='#ff5e7e',GradientType=0);
    background-color:#780000;
}

.myButton:active {
    position:relative;
    top:1px;
}


@media screen and (max-width: 580px) {
    #titre {
        background-color: #EAE5DF;
        height: auto;
        width: 100%;
        clear: both;
    }

    #titre h1{
        font-size: 26px;
    }

    #titre img{
        width: 100px;
    }

    #authentification {
        width: 100%;
        clear: both;
    }

    #contenu {
        width: 100%;
        clear: both;
    }

    #contenu img{
        width: 130px;
        height: 130px;
        margin: 20px;
        clear: both;
    }

    #panier {
        height: auto;
        min-height: 0;
        width: 100%;
        clear: both;
    }

    #piedPage {
        display: none;
    }
}
